<!DOCTYPE html>
<html lang="zh-CN">
<title>
    Hello
</title>

<body>
    <h1>嵌套template语法</h1>
    <hr>
    {{template "ul.tmpl"}}
    <hr>
    {{template "ol.tmpl"}}

    <div>你好, {{ . }}</div>
</body>
{{define "ol.tmpl"}}
<ol>
    <li>吃饭</li>
    <li>睡觉</li>
    <li>打豆豆</li>
</ol>
{{end}}

</html>